body {
    background: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.fixed_left_panel,
.fixed_right_panel {
    position: fixed;
    z-index: 1000;
    top: 47px;
    bottom: 34px;
    width: 275px;
    background: aliceblue;
}

.fixed_left_panel {
    left: 0;
}

.fixed_right_panel {
    right: 0;
}

.fixed_top_panel {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background: aliceblue;
    padding: 15px 275px 0px 275px;
    min-width: 800px;
    height: 93px;
    box-sizing: content-box;
}

.fixed_bottom_panel {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
    height: 46px;
    background: aliceblue;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 20px 0px 10px 0px;
}

img {
    float: left;
    height: 40px;
    margin: -1px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

.title_panel {
    float: left;
    font-size: 30px;
    margin: -3px 20px 0px 0px;
}

.searchtext_panel {
    display: inline-block;
}

.user_actions_panel,
.user_panel,
.movie_actions_panel {
    float: right;
}

.user_actions_panel {
    margin: 3px 0px 0px 0px;
}

.user_panel {
    margin: 12px 0px 0px 0px;
}

.user_actions_panel_separator {
    padding: 0px 5px 0px 5px;
}

.loggedin_user {
    float: right;
    font-weight: bold;
    padding: 0px 0px 0px 5px;
}

.movie_actions_panel {
    clear: both;
    padding: 13px 0px 0px 0px;
}

a {
    background: transparent;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

a.only-text:hover {
    text-decoration: none;
}

.field {
    padding: 5px;
}

.button {
    padding: 5px 5px 5px 6px;
}

input[id=searchtext] {
    width: 280px;
}

.invalid_message {
    text-align: left;
    padding: 0px 0px 0px 5px;
    color: red;
}

.fade-top {
    position: fixed;
    left: 275px;
    right: 275px;
    top: 108px;
    height: 1em;
    margin: 0px 0px -1em 0px;
    background: -moz-linear-gradient(top, rgba(240, 248, 255, 1) 0%, rgba(240, 248, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 248, 255, 1)), color-stop(100%, rgba(240, 248, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240, 248, 255, 1) 0%, rgba(240, 248, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240, 248, 255, 1) 0%, rgba(240, 248, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240, 248, 255, 1) 0%, rgba(240, 248, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(240, 248, 255, 1) 0%, rgba(240, 248, 255, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    /* IE6-9 */
}

.fade-bottom {
    position: fixed;
    left: 275px;
    right: 275px;
    height: 1em;
    margin: -1em 0px 0px 0px;
    background: -moz-linear-gradient(top, rgba(240, 248, 255, 0) 0%, rgba(240, 248, 255, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 248, 255, 0)), color-stop(100%, rgba(240, 248, 255, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240, 248, 255, 0) 0%, rgba(240, 248, 255, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240, 248, 255, 0) 0%, rgba(240, 248, 255, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240, 248, 255, 0) 0%, rgba(240, 248, 255, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(240, 248, 255, 0) 0%, rgba(240, 248, 255, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}

#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    width: 80px;
    height: 80px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}