.found_movies {
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}

.movie_container {
    margin: 124px 275px 62px 275px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.movie_content {
    padding: 0px 0px 10px 0px;
}

.movie_actions {
    padding: 0px 0px 0px 10px;
}

.movie_data {
    display: grid;
    margin: 0px 0px 5px 0px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #ffffff;
}

.movie_data_top,
.movie_data_middle,
.movie_data_bottom,
.movie_data_actions {
    clear: both;
}

.movie_data_top,
.movie_data_bottom {
    line-height: 30px;
}

.movie_data_middle {
    padding: 10px 0px 10px 0px;
}

.movie_data_bottom {
    text-align: center;
}

.movie_num_container {
    float: left;
    width: 33%;
}

.movie_btn_container {
    display: inline-block;
    width: 33%;
}

.movie_data_actions {
    text-align: right;
    padding: 10px 0px 0px 0px;
}

.movie_title {
    float: left;
    font-size: 25px;
    font-weight: bold;
}

.movie_posted,
.movie_posted_by {
    float: right;
    font-size: 20px;
    width: 33%;
    text-align: right;
}

.movie_votes_num,
.movie_reviews_num {
    float: left;
}

.movie_votes_btn,
.movie_review_btn {
    display: inline-block;
}

.movie_posted_by_user {
    color: #007bff;
}

.num_separator,
.btn_separator {
    float: inherit;
}

.num_separator {
    padding: 0px 5px 0px 5px;
}

.movie_likes {
    float: left;
}

.movie_hates {
    float: inherit;
}

.movie_reviews {
    float: right;
}

.movie_votes_text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.liked {
    color: green;
}

.hated {
    color: red;
}

.user_vote_data {
    margin: 15px 15px 0px 15px;
    color: initial;
}

.user_vote_data.last {
    margin: 15px;
}

.review_data {
    margin: 15px;
}

.review_data:not(.last) {
    border-bottom: 1px solid #ccc;
}

.review_data .top_panel {
    opacity: 0.5;
    padding: 0px 0px 5px 0px;
}

.review_data .bottom_panel:not(.last) {
    padding: 0px 0px 15px 0px;
}

.like_btn span,
.hate_btn span {
    padding: 5px;
}

.like_btn a:hover,
.hate_btn a:hover {
    color: darkblue;
}

.review_btn {
    float: right;
    height: 18px;
    width: 18px;
    cursor: pointer;
    margin: 8px 0px 0px 10px;
    background-image: url('/images/review.png');
}

.review_btn:hover {
    background-image: url('/images/review-hover.png');
}

a.vote {
    color: #007bff;
}

a.vote:hover {
    color: #0056b3;
}

span.movie_voted {
    background-color: #007bff;
    border-radius: 10px;
    padding: 5px;
}

span.movie_voted:hover {
    background-color: #0056b3;
}

span.movie_voted a,
span.movie_voted a:hover {
    color: #ffffff;
}