.found_movies {
    font-size: 20px;
}

.found_movies,
.add_sort_movies {
    padding-top: 10px;
    padding-bottom: 10px;
}

.movie_container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.movie_content {
    padding: 0px 0px 10px 0px;
}

.movie_data {
    margin: 0px 0px 5px 0px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #ffffff;
}

.movie_title {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
}

.movie_posted,
.movie_posted_by {
    font-size: 20px;
    line-height: 30px;
}

.movie_data_middle {
    padding-top: 10px;
    padding-bottom: 10px;
}

.movie_data_actions {
    padding-top: 10px;
}

.movie_posted_by_user {
    color: #007bff;
}

.movie_votes_text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.liked {
    color: green;
}

.hated {
    color: red;
}

.user_vote_data {
    margin: 0px 10px 0px 10px;
    color: initial;
}

.user_vote_data:first-child {
    margin: 10px 10px 0px 10px;
}

.user_vote_data:last-child {
    margin: 0px 10px 10px 10px;
}

.user_vote_data:only-child {
    margin: 10px;
}

.review_data {
    margin: 15px;
}

.review_data:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.review_data .top_panel {
    opacity: 0.5;
    padding: 0px 0px 5px 0px;
}

.review_data .bottom_panel {
    padding: 0px 0px 15px 0px;
}

.review_data:last-child .bottom_panel {
    padding: 0px;
}

.like_btn span,
.hate_btn span {
    padding: 5px;
}

.like_btn a:hover,
.hate_btn a:hover {
    color: darkblue;
}

.review_btn {
    padding: 0px 0px 0px 6px;
    margin: 2px 0px 0px 0px;
}

.review_btn:hover {
    background: url('/images/review-hover.png') no-repeat;
    background-origin: content-box;
}

a.vote {
    color: #007bff;
}

a.vote:hover {
    color: #0056b3;
}

span.movie_voted {
    background-color: #007bff;
    border-radius: 10px;
    padding: 5px;
}

span.movie_voted:hover {
    background-color: #0056b3;
}

span.movie_voted a,
span.movie_voted a:hover {
    color: #ffffff;
}