html,
body {
    height: 100%;
}

.main {
    padding: 50px;
    border: solid 4px #678;
    background: #ccd6e0;
}

.action_logo,
.action {
    text-align: center;
}

.action {
    font-size: 30px;
    padding: 5px;
}